{% extends "base.html" %}
    
{% block title %}Worklog{% endblock %}

{% load staticfiles %}

{% block app-styles %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block app-scripts %}
<script>
    var worklog = {
        date: '{{ date.isoformat }}',
        csrfToken: '{{ csrf_token }}',
        username: '{{ user.username }}',
        userid: '{{ user.id }}',
    };
</script>

<script src="{% static 'js/lib/jquery.cookie.js' %}"></script>
<script src="{% static 'js/lib/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script src="{% static 'js/lib/handlebars-v1.3.0.js' %}"></script>
{% endblock %}

{% block nav-links %}
{% if user.is_authenticated %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'worklog:today' %}">New Work Item</a></li>
    <li><a href="/worklog/chart">Chart</a></li>
    <li><a href="/worklog/view/{{ user }}">My Work</a></li>
</ul>
{% endif %}
{% endblock %}
