{% extends "worklog/base.html" %}
{% load staticfiles %}

{% block content %}
    <!--  -->
    <div style="text-align: center; vertical-align: top; padding-top: 70px"></div>

    <!-- Pane for outstanding work days, etc -->
    <div id="work-pane" style="width: 50%; min-width: 280px; float: left; padding-bottom: 30px">
        <div class="panel panel-default" style="width: 90%; margin: 0 auto">
            <div class="panel-heading">Work</div>

                <table class="table table-bordered">
                    {% for datestring, date, hours, show_link in past_seven_days %}
                        <tr style="{%if 'Saturday' in datestring %}border-bottom: 2px solid black;{% else %}{% endif %}">
                            {% if "Saturday" in datestring or "Sunday" in datestring %}
                                <th style="width: 50%; text-align: center" class="text-muted">{{ datestring }}</th>
                            {% else %}
                                <th style="width: 50%; text-align: center">{{ datestring }}</th>
                            {% endif %}

                            {% if show_link %}
                                <td style="width: 50%; text-align: center">
                                {{ hours }}&nbsp;&nbsp;<small>(<a href="{% url 'worklog-date' date %}">Add Item</a>)</small>
                                </td>
                            {% else %}
                                <td style="width: 50%; text-align: center">{{ hours }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            <h3 style="text-align: center">{{ total_hours }} hours worked this week</h3>
        </div>
    </div>

    <!-- Pane for the github issue listings -->
    <div id="github-pane" style="width: 50%; min-width: 280px; float: left; padding-bottom: 30px">
        <div class="panel panel-default" style="width: 90%; margin: 0 auto">
            <div class="panel-heading">Github Issues</div>
            {% if repos_with_issues %}
                <div class="list-group" id="repos">
                    {% for repo, issues in repos_with_issues.items %}
                        <div class="list-group-item accordion-toggle">
                            <h4>
                                {{ repo }}&nbsp;&nbsp;
                                <small>(<a href='#{{ repo }}_issues' data-toggle="collapse">show</a>)</small>
                                <span href="#" class="badge" style="float: right">{{ issues|length }}</span>
                            </h4>

                            <div class="list-group collapse out" id="{{ repo }}_issues">
                                {% for issue in issues %}
                                    <li class="list-group-item">
                                        <h4>{{ issue.number }} - {{ issue.title }}</h4>
                                        <p>{{ issue.body }}</p>
                                        <br/>
                                    </li>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <li class="list-group-item">
                    <h3 style="text-align: center; padding-top: 30">No open issues assigned</h3>
                </li>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
