{% extends "worklog/base.html" %}
{% load staticfiles %}

{% block content %}
    <script type="text/javascript" src="https://raw.githubusercontent.com/nnnick/Chart.js/master/Chart.js"></script>

    <!-- Outstanding Work -->
    <div>
        <h2>Outstanding Work Days:</h2>
        <p>
            {% for date, url in outstanding_work.items %}
                <a href="{% url 'worklog-date' date %}">{{ date }}</a>
                <br></br>
            {% endfor %}
        </p>
    </div>

    <!-- Total Hours -->
    <div>
        <h2>Total hours this week:</h2>
        <h1>{{ total_hours }}</h1>
    </div>

    <!-- Work Chart -->
    <div class="row">
        <div class="col-md-6">
            <h2>Total hours per day:</h2>
            <table class="table table-bordered">
                <tr> <!-- Print column titles (days of week) -->
                    {% for day, hours in hours_per_day.iteritems %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>

                <tr>  <!-- Print hours for each day -->
                    {% for day, hours in hours_per_day.iteritems %}
                        <td>{{ hours }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>

    <!-- Assigned Issues -->
    <div>

    </div>

    <!-- Job Time Chart -->
    <div>
        <h2>Hours per job breakdown:</h2>
        <canvas id="jobChart" width="350" height="350"></canvas>

        <script type="text/javascript">
            var data = [
                {% for job, hours in hours_per_job.items %}
                    {
                        value: {{ hours }},
                        color: "{{ color_picker.next }}",
                        label: "{{ job }}"
                    },
                {% endfor %}


            ]

            var options = {
                segmentShowStroke : true,
                animateScale : true
            }

            var ctx = document.getElementById('jobChart').getContext('2d');
            new Chart(ctx).Doughnut(data, options);
        </script>
    </div>
{% endblock %}