{% extends "worklog/base.html" %} {% block content %}

<div class="row">
    <br>


    <!-- Content -->
    <div class="col-md-6">
        {% if items %}

        <!-- Work item table -->
        <table class="table table-bordered">
            <tr>
                {% for title in column_names %}
                <th>{{ title }}</th>
                {% endfor %}
            </tr>

            {% for item in items %}
            <tr>
                {% for field in item %}
                <td>{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <p>No work accomplished... this is terrible!</p>
        {% endif %}

        <!-- Contents of the current query -->
        <p style="margin-bottom: 0em;">Current query:</p>
        <table style="margin-left: 3em;">
            {% if current_filters %} {% for key,val in current_filters %}
            <tr>
                <td>{{ key }}:</td>
                <td>{{ val }}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
                <td>Showing all work items.</td>
            </tr>
            {% endif %}
        </table>
    </div>


    <!-- Sidebar -->
    <div class="col-md-4" style="float: right;">
        {% for submenu in filtermenu %} {% if submenu.name %}
        <h3>By {{ submenu.name }}</h3>{% endif %}
        <ul>
            {% for item in submenu.items %}
            <li><a href="{{ menulink_base }}?{{ item.querystring }}">{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>

</div>

{% endblock %}
