{% extends "worklog/base.html" %}
{% block content %}


<h2>New Work Item</h2>
{% if holidays %}
<h3>Today is a holiday. Work item hours will not count towards timesheet.</h3>
{% endif %} 
<h4>For: {{ date|date:"DATE_FORMAT" }}</h4>
    <table class="table table-hover" id="form-table">
        <thead>
            <th class="col-md-2">Job</th>
            <th class="col-md-2">Hours</th>
            <th class="col-md-2">Repo</th>
            <th class="col-md-2">Issue</th>
            <th class="col-md-4">Description</th>
            <th><button class="btn btn-primary btn-xs" type="button" id="add-form">+</button></th>
        </thead>
        <tbody>
            <tr id="row-0">
                <form id="workform" role="form" class="form-inline">
                {% csrf_token %}
                    <td class="col-md-2">
                        <div class="form-group">
                            <select class="form-control input-sm" id="job">
                                <option value selected="selected">None</option>
                            </select>
                        </div>
                    </td>
                    <td class="col-md-2">
                        <div class="form-group">
                            <input class="form-control input-sm" id="hours" placeholder="Hours Worked" type="text">
                        </div>
                    </td>
                    <td class="col-md-2">
                        <div class="form-group">
                            <select class="form-control input-sm" id="repo">
                                <option value selected="selected">None</option>
                            </select>
                        </div>
                    </td>
                    <td class="col-md-2">
                        <div class="form-group">
                            <select class="form-control input-sm" id="issue">
                                    <option value selected="selected">None</option>
                            </select>
                        </div>
                    </td>
                    <td class="col-md-4">
                        <div class="form-group">
                            <textarea class="form-control input-sm" cols="40" id="text" placeholder="Work Description" rows="1"></textarea>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-xs" type="button" id="delete">&times;</button>
                    </td>
                </form>
            </tr>
        </tbody>

    </table>
    <button class='btn btn-success' type="button" id="submit">Submit All</button>

    <div style="padding:10px"></div>
    
    <h4>Work Items Submitted on {{ date|date:"DATE_FORMAT" }}:</h4>
    <table class="table" id="display-table">
        <thead>
            <th>Job</th>
            <th>Hours</th>
            <th>Repo</th>
            <th>Issue</th>
            <th>Task</th>
            <th></th>
        </thead>
        <tbody>
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">You have chosen to delete a work item.</h4>
                    </div>
                    <div class="modal-body">
                        Please confirm your choice.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Keep</button>
                        <button type="button" class="btn btn-danger" id="delete">Delete</button>
                    </div>
                </div>
              </div>
            </div>
        </tbody>
    </table>

    {% endblock %}
