<!--     <div class="table-responsive">
        <table class="table table-hover" id="form-table">
            <thead>
                <th class="col-md-2">Job</th>
                <th class="col-md-2">Hours</th>
                <th class="col-md-2">Repo</th>
                <th class="col-md-2">Issue</th>
                <th class="col-md-4">Description</th>
                <th><button class="btn btn-primary btn-xs" type="button" id="add-form">+</button></th>
            </thead>
            <tbody>
                <tr id="row-0">
                    <form id="workform" role="form" class="form-inline">
                    {% csrf_token %}
                        <td class="col-md-2">
                            <div class="form-group">
                                <select class="form-control input-sm job">
                                    <option value selected="selected">None</option>
                                </select>
                            </div>
                        </td>
                        <td class="col-md-2">
                            <div class="form-group">
                                <input class="form-control input-sm hours" placeholder="Hours Worked" type="text">
                            </div>
                        </td>
                        <td class="col-md-2">
                            <div class="form-group">
                                <select class="form-control input-sm repo">
                                    <option value selected="selected">None</option>
                                </select>
                            </div>
                        </td>
                        <td class="col-md-2">
                            <div class="form-group">
                                <select class="form-control input-sm issue">
                                        <option value selected="selected">None</option>
                                </select>
                            </div>
                        </td>
                        <td class="col-md-4">
                            <div class="form-group">
                                <textarea class="form-control input-sm text" cols="40" placeholder="Work Description" rows="1"></textarea>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-xs delete" type="button">&times;</button>
                        </td>
                    </form>
                </tr>
            </tbody>

        </table>
    </div> -->