{% extends "worklog/base.html" %}
{% block content %}

{% load staticfiles %}

<script>
    var worklog = {
        date: '{{ date.isoformat }}',
        csrfToken: '{{ csrf_token }}',
        username: '{{ user.username }}',
        userid: '{{ user.id }}',
    };
</script>

<script src="{% static 'js/app/widgets.js' %}"></script>
<script src="{% static 'js/app/fields.js' %}"></script>
<script src="{% static 'js/app/forms.js' %}"></script>
<script src="{% static 'js/app/formsets.js' %}"></script>
<script src="{% static 'js/app/tables.js' %}"></script>
<script src="{% static 'js/app/workitem.js' %}"></script>

{% if open %}
<h2>New Work Item</h2>
{% if holidays %}
<h3>Today is a holiday. Work item hours will not count towards timesheet.</h3>
{% endif %} 
<h4>For: {{ date|date:"DATE_FORMAT" }}</h4>

    <div style="padding:10px" id="bottom"></div>

    <button class='btn btn-success' type="button" id="submit">Submit All</button>
    <button class='btn btn-primary' type="button" id="reconcile">Reconcile</button>
    <button class='btn btn-link' type="button" data-toggle="tooltip" data-placement="right" title="Click Reconcile when all work items have been entered. You will still be able to enter work items, but you will not receive reminder emails for this date."><span class="glyphicon glyphicon-question-sign"></span></button>

    <div style="padding:10px" id="bottom"></div>

{% endif %}


    {% verbatim %}
    <!-- Please note that the Django templating language will not be rendered a verbatim block. -->
    <script id="form-table-template" type="text/x-handlebars-template">
        <table class="table table-hover" id={{tableID}}>
            <thead>
                <tr>
                    <th class="col-md-2">Job</th>
                    <th class="col-md-2">Hours</th>
                    <th class="col-md-2">Repo</th>
                    <th class="col-md-2">Issue</th>
                    <th class="col-md-3">Description</th>
                    <th id="button-head" style="text-align:right">
                        <button class="btn btn-primary btn-xs" type="button" id="add-form"><span class="glyphicon glyphicon-plus"></span></button>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </script>

    <script id="row-template" type="text/x-handlebars-template">
        <tr id={{id}}>
            <td class={{job.class}}{{#if job.name}} name={{job.name}}{{/if}}>{{{job.value}}}</td>
            <td class={{hours.class}}{{#if hours.name}} name={{hours.name}}{{/if}}>{{{hours.value}}}</td>
            <td class={{repo.class}}{{#if repo.name}} name={{repo.name}}{{/if}}>{{{repo.value}}}</td>
            <td class={{issue.class}}{{#if issue.name}} name={{issue.name}}{{/if}}>{{{issue.value}}}</td>
            <td class={{text.class}}{{#if text.name}} name={{text.name}}{{/if}}>{{{text.value}}}</td>
            <td{{#if button.class}} class={{button.class}}{{/if}} align="right">
                {{#each buttons}}
                    {{{this.value}}}
                {{/each}}
            </td>
        </tr>
    </script>

    <script id="mobile-form-table-template" type="text/x-handlebars-template">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="accordion" data-target="#{{row.id}}">
                {{headerText}}
                <button class="btn btn-primary btn-xs pull-right" id="save">Save</button>
            </div>
            <div id="{{row.id}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-3">Field</th>
                                <th class="col-xs-15">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-xs-3">Job</td>
                                <td class="col-xs-15">{{{row.job}}}</td>
                            </tr>
                            <tr>
                                <td class="col-xs-3">Hours</td>
                                <td class="col-xs-15">{{{row.hours}}}</td>
                            </tr>
                            <tr>
                                <td class="col-xs-3">Repo</td>
                                <td class="col-xs-15">{{{row.repo}}}</td>
                            </tr>
                            <tr>
                                <td class="col-xs-3">Issue</td>
                                <td class="col-xs-15">{{{row.issue}}}</td>
                            </tr>
                            <tr>
                                <td class="col-xs-3">Description</td>
                                <td class="col-xs-15">{{{row.text}}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </script>

    <script id="job-field-template" type="text/x-handlebars-template">
        <div class="form-group">
            <select class="form-control input-sm job" data-row={{row.id}} rv-value="workitem.job">
                {{#each options}}
                    <option value={{this.value}}>{{this.text}}</option>
                {{/each}}
            </select>
        </div>
    </script>

    <script id="hours-field-template" type="text/x-handlebars-template">
        <div class="form-group">
            <input class="form-control input-sm hours" placeholder="Hours Worked" type="text" data-row={{row.id}} {{#if value}} value={{value}}{{/if}} rv-value="workitem.hours">
        </div>
    </script>

    <script id="repo-field-template" type="text/x-handlebars-template">
        <div class="form-group">
            <select class="form-control input-sm repo" data-row={{row.id}} rv-value="workitem.repo">
                {{#each options}}
                    <option value={{this.value}}>{{this.text}}</option>
                {{/each}}
            </select>
        </div>    
    </script>

    <script id="issue-field-template" type="text/x-handlebars-template">
        <div class="form-group">
            <select class="form-control input-sm issue" data-row={{row.id}} rv-value="workitem.issue">
                {{#each options}}
                    <option value={{this.value}}>{{this.text}}</option>
                {{/each}}
            </select>
        </div>
    </script>

    <script id="text-field-template" type="text/x-handlebars-template">
        <div class="form-group">
            <textarea class="form-control input-sm text" cols="40" placeholder="Work Description" rows="1" data-row={{row.id}} rv-value="workitem.text">{{value}}</textarea>
        </div>
    </script>

    {% endverbatim %}

    {% endblock %}


